In [72]:
import pandas as pd
df = pd.read_csv("C:/New Folder/train.csv")
df.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1

In [73]:


x = df.drop(columns=["booking_status"])
y = df["booking_status"]
x.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0

In [89]:
from sklearn.model_selection import train_test_split


train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, random_state=42)

In [90]:
train_x.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
15559,15559,2,0,0,3,0,0,1,65,2018,11,2,0,0,0,0,60.0,2
32783,32783,2,0,1,4,0,0,1,73,2018,12,26,1,0,0,0,111.6,1
11797,11797,3,0,0,3,0,0,1,81,2018,9,8,1,0,0,0,168.3,0
39750,39750,2,0,0,1,2,0,0,221,2018,8,12,0,0,0,0,115.0,1
28711,28711,2,0,2,3,0,0,1,95,2018,10,7,1,0,0,0,132.3,0

In [91]:
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier, HistGradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [93]:
models = {
    'Random Forest': RandomForestClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'Logistic Regression': LogisticRegression(),
    'HistGradientBoost': HistGradientBoostingClassifier()
}


for name, model in models.items():
    model.fit(train_x, train_y)
    pred_y = model.predict_proba(test_x)[:, 1]
    roc_auc = roc_auc_score(test_y, pred_y)
    print(name, "ROC AUC score:", roc_auc)

Random Forest ROC AUC score: 0.8841274902764171
Decision Tree ROC AUC score: 0.728762803954752

C:\Users\bhavy\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression ROC AUC score: 0.7802936967429708
HistGradientBoost ROC AUC score: 0.8943730886850153

In [95]:
df_new = pd.read_csv("test.csv")
df_new

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,42100,3,0,1,4,0,0,1,111,2018,12,5,1,0,0,0,115.60,2
1,42101,2,0,0,3,0,0,0,22,2017,10,21,0,0,0,0,85.00,0
2,42102,2,2,0,1,0,0,3,18,2018,8,10,1,0,0,0,240.00,1
3,42103,2,0,0,3,0,0,0,88,2018,5,30,0,0,0,0,80.75,0
4,42104,1,0,0,2,2,0,0,7,2018,9,21,1,0,0,0,144.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28063,70163,2,0,1,2,0,0,0,315,2018,9,30,1,0,0,0,160.00,0
28064,70164,2,0,2,2,0,0,0,81,2018,3,25,0,0,0,0,65.00,1
28065,70165,2,0,1,2,0,0,0,40,2018,10,22,0,0,0,0,85.00,0
28066,70166,3,0,0,4,0,0,1,4,2018,9,6,1,0,0,0,162.75,0
28067,70167,2,0,2,3,0,0,0,191,2018,8,28,1,0,0,0,84.31,0

In [96]:
for name, model in models.items():
    y_pred = model.predict_proba(df_new)[:, 1]
    print(name, "predicted probabilities:", y_pred)

Random Forest predicted probabilities: [0.2  0.08 0.52 ... 0.26 0.51 0.85]
Decision Tree predicted probabilities: [0. 0. 1. ... 0. 0. 0.]
Logistic Regression predicted probabilities: [0.24951838 0.09829411 0.60185459 ... 0.12589701 0.3163398  0.60109435]
HistGradientBoost predicted probabilities: [0.14129125 0.07341677 0.42872182 ... 0.07202434 0.33629327 0.85779879]

In [97]:
y_pred = models['HistGradientBoost'].predict_proba(df_new)[:, 1]
print("Predicted probabilities:", y_pred)

Predicted probabilities: [0.14129125 0.07341677 0.42872182 ... 0.07202434 0.33629327 0.85779879]

In [98]:

y_pred = models['HistGradientBoost'].predict_proba(df_new)[:, 1]


df = pd.DataFrame(y_pred, columns=['Prediction'])
df.to_csv('C:/New Folder/predictions.csv', index=True)